* {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}

#grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.column {
    flex-grow: 1;
    opacity: 0%;
}

.filled {
    background-color: black;
}